appdirs==1.4.3
atari-py==0.1.1
backports-abc==0.5
certifi==2017.4.17
funcsigs==1.0.2
gym==0.9.1
import==0.1.0
mock==2.0.0
msgpack-numpy==0.3.9
msgpack-python==0.4.8
numpy==1.12.1
olefile==0.44
opencv-python==3.2.0.7
packaging==16.8
pbr==3.0.0
Pillow==4.1.1
protobuf==3.1.0
pyglet==1.2.4
PyOpenGL==3.1.0
pyparsing==2.2.0
pyzmq==16.0.2
requests==2.14.2
singledispatch==3.4.0.3
six==1.10.0
subprocess32==3.2.7
termcolor==1.1.0
tornado==4.5.1
tqdm==4.11.2
zmq==0.0.0
